{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'vote/style.css' %}">
    <title>Raj Webz</title>
</head>

<body>
    <div class="container">
        <h2>Go Plus</h2>
        <h3>This site is specificaly build to complete Go Plus's assignment by Raj Verma</h3>
        <div class="voting">
            <button id="likebtn">
                <i class="fa fa-thumbs-up"></i>
            </button>
            <input type="number" id="likecount" value="{{likes}}" name="">

            <button id="dislikebtn">
                <i class="fa fa-thumbs-down"></i>
            </button>
            <input type="number" id="dislikecount" value="{{dislikes}}" name="">
           
        </div>
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="{% static 'vote/script.js'%}"></script>
</body>

</html>